h1 {
    color: rgb(116, 62, 5);
    background-color: rgba(168, 168, 155, 0.55);
}

img {
    width: 200px;
    height: auto;

}

.recipe-page {
    color: rgb(187, 39, 23);
    background-color: rgb(226, 226, 226);
}